<script>
  $(function(){
    items = $('.item');
    if(items) {
      currentItemIndex = 0;
      items.eq(currentItemIndex).fadeIn();
      
      $('#next').click(function(){
        items.eq(currentItemIndex).fadeOut();
        
        currentItemIndex++;
        if (items.length == currentItemIndex)
          currentItemIndex = 0;
        
        items.eq(currentItemIndex).fadeIn();
        return false;
      });
    }
  });
</script>

<div id='description'><%= @drop.description %></div>

<ul id='items'>
  <% @assets.each do |asset| %>
    <li class="item" style="display:none;"><%= display_asset(asset) %></li>
  <% end %>
</ul>

<% if @assets.length > 1 %>
  <a id="next" href="#">next</a>
<% end %>

<% if is_admin? %>
  <div id="adminPanel">
    <a href="#" onclick="$('#upload').toggle();return false;">Add Files</a>
    <div id="upload" style="display:none;">
      <%= @upload_embed %>
    </div>
    <p>
      <% if @assets.length > 0 %>
        To show people this portfolio, send them to <a href="/<%= @drop.name %>">http://dropfolio.heroku.com/<%= @drop.name %></a>
      <% else %>
        Add some files to this portfolio to get started.
      <% end %>
    </p>
    <form action='' method='post' confirm="are your sure?">
      <input type='hidden' name='_method' value='DELETE'>
      <input type='submit' value='Destroy this portfolio.'/>
    </form>
  </div>
<% end %>